* {  margin: 0px;
  padding: 0px;  
}

body {
	
}

header {
	text-align: center;
}

form {
	padding: 20px;
}

input {
	max-width: 40px;
	border: none;
	/*outline: none;*/
	color: #181;
}

td {	
	/*text-align: center;*/
}