* {
	margin: 0;
  padding: 0;  
}

div {
	background: url(./bg.jpg) no-repeat;
	background-size: cover;	
	text-align: center;  
}

header {
  padding: 60px 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

input {  
  border: none;
  outline: none;  
  background: #ffa;
  margin: 6px 5px;  
}

.form-control {
  position: relative;
  margin-bottom: 60px; 
}

.validation {  
  top: 50px;  
}

button {
	margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
}

small {  
  position: relative;
  height: 100px;
  width: 100px;
  color: #a00;
  padding: 100px, auto;
}