<div>
<form [formGroup]="form" (ngSubmit)="submit()">
	<header>
		<h5>Введите пользователь / пароль</h5>	
	</header>	

    <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" placeholder="a@mail.ru">
        <div
          *ngIf="form.get('email').touched && form.get('email').invalid"
          class="validation"
        >
          <small *ngIf="form.get('email').errors.required">
            Введите поле email
          </small>
          <small *ngIf="form.get('email').errors.email">
            Некорректный email
          </small>
        </div>
    </div>

    <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password" placeholder="111111">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас он
        {{form.get('password').errors.minlength.actualLength}}
        .
      </small>
    </div>
  </div>

    <button
     
    type="submit"
    class="btn btn-warning "
    [disabled]="form.invalid"
  >Войти в меню</button>

     <br>   
    <button [routerLink] = "['oder']" class="btn btn-warning btn-sm">Открыть весь заказ</button>
</form>

<br>   
    <button [routerLink] = "['create']" class="btn btn-warning btn-sm m-2">Добавить в меню
    </button>


    <button [routerLink] = "['menu']" class="btn btn-warning btn-sm m-2">Меню локально</button>

    <button [routerLink] = "['dashboard']" class="btn btn-warning btn-sm m-2">Меню в сети</button>
<br>
    <button [routerLink] = "['gallery']" class="btn btn-warning btn-sm m-2">Галлерея</button>
</div>

<!-- [routerLink] = "['post/:id']" -->