@import "../app.component.scss";

div {
  background: url(../../assets/img/bg.jpg) no-repeat;
  background-size: cover;  
  background-attachment: fixed;
}

* {
	margin: 0;
  padding: 0;  
}

.login {   
  max-width: 400px;
  background: none;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}

header {
  padding: 15px 0;
}

form {  
  margin: 0 auto;
  border-color: #050;
}

.form-control > label {
  color: #060;
}

.form-control {
  border-width: 1px;
  position: relative;  
  margin: 0 auto 40px;
  width: 98%;
  border-color: #050;
  background: none;  
  background-color: #ffa7006a;
  border-radius: 10px;
    
}

input {  
  border: none;   
  outline: none;  
  background-color: #ffc70782;
  margin: 10px 5px;
  width: 150px;
  max-height: 23px;
}

.validation {
  margin-top: 6px;  
}

.block {
  display: block;
  margin: 15px auto;  
}

button {
  width: 98%;
}

small {
  position: relative;
  height: 100px;
  width: 100px;
  color: #a00;
  padding: 100px, auto;
}

a {
  text-decoration: none;
  color: #6b3296;
}
