<body>

<header>
	<h6>Введите пользователь / пароль</h6>	
	
	<form action="menu.html">
	    <label for="username">Username</label>
	    <input type="text" id="username" name="usrname" placeholder="username" required>
	    	<br>
	    <label for="psw">Password</label>
	    <input type="password" id="psw" name="psw" placeholder="password" required>
	    	<br>  
	    <button [routerLink] = "['post/:id']" type="submit" class="btn btn-warning" value="Login">Войти в Меню</button>
	</form>

	
<button [routerLink] = "['**']" class="btn btn-warning btn-sm but">Открыть весь заказ</button>
</header>





</body>
