<div class="bg d-flex flex-colum">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Добавить блюда</h2>

    <div
      class="form-control"   
    >
      <label for="title">Название:</label>
      <input id="title" type="text" formControlName="title">  
    </div>

    <div class="form-control">
      <label for="text">Содержание:</label>
      <input id="text" type="text" formControlName="text">
    </div>    

    <div
      class="form-control">
      <label for="author">Автор:</label>
      <input id="author" type="text" formControlName="author">
    </div>
    
    
    <div class="but">
      <button
        type="submit"
        class="btn btn-warning"    
      >Добавить</button>
        
      <button [routerLink] = "['/dashboard']" class="btn btn-warning">Посмотреть
      </button>

      <button [routerLink] = "['/remove']" class="btn btn-warning">Удалить
      </button>    

    </div>
  </form>

</div>

<!-- [disabled]="form.invalid" -->