<div class="row">
	<div class="col-md-12">
		<h2>Блюда</h2>
	</div>

	<div class="col-md-12">
		<button class="btn btn-lg btn-info" [class.active]="filterBy === 'all'" (click)="filterBy = 'all'">Все</button>
		<button class="btn btn-lg btn-info" [class.active]="filterBy === 'voda'" (click)="filterBy = 'voda'">Первые</button>
		<button class="btn btn-lg btn-info" [class.active]="filterBy === 'fire'" (click)="filterBy = 'fire'">Вторые</button>
		<button class="btn btn-lg btn-info" [class.active]="filterBy === 'boats'" (click)="filterBy = 'boats'">Десерты</button>
	</div>

	<ul id="thumbnailList">
		<li *ngFor="let image of (images | imageFilter:filterBy)">
			<a href="">
				<img src=" {{ image.url }}" class="tn" width="200" height="150">
			</a>
		</li>
	</ul>

</div>		
