<div class="row">
	<div class="col-md-12">
		<h2>Блюда</h2>
	</div>

	<div class="col-md-12">
		<button class="btn btn-info" [class.active]="filterBy === 'all'" (click)="filterBy = 'all'">Все</button>
		<button class="btn btn-warning" [class.active]="filterBy === 'first'" (click)="filterBy = 'first'">Первые</button>
		<button class="btn btn-warning" [class.active]="filterBy === 'second'" (click)="filterBy = 'second'">Вторые</button>
		<button class="btn btn-warning" [class.active]="filterBy === 'salads'" (click)="filterBy = 'salads'">Салаты</button>
		<button class="btn btn-warning" [class.active]="filterBy === 'drink'" (click)="filterBy = 'drink'">Напитки</button>
	</div>

	<ul id="thumbnailList">
		<li class="" *ngFor="let image of (images | imageFilter:filterBy)">
			<div class="tn">
				<a href=""><img src="{{ image.url }}" class=""></a>
				<h5>{{ image.dish }}</h5>
				<p>Цена: {{ image.prise }} грн / {{ image.weight }}{{ image.unit }}</p>				
			</div>
		</li>
	</ul>

</div>		
