@import "../app.component.scss";

* {  
  margin: 0;
  padding: 0;   
}

.logo {
	color: #050;
}

/*nav button {
	flex-direction: column;
}*/

ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	width: 1200px;
	margin: 20px auto;
	list-style-type: none;	
}

.ticket {
	margin: 6px 6px;
	border: 4px solid #eee;
	border-radius: 8px;
	box-shadow: #555 1px 1px 5px 1px;
	width: 180px;
	height: 240px;	
}

img {		
	width: 100%;
	height: 100px;
	cursor: cell;
}

input {
	width: 70px;
	background: #ffc;
}

h5 {
	padding: 1px 6px;
}

p {
	font-size: 15px;
	margin: 0;
	font-weight: 600;
}

@media screen and (max-width: 576px) {	
	button {
		display: block;
		margin: 2 auto;
		width: 100%;				
	}

	.logo {
		text-align: center;
	}	
}