@import "../app.component.scss";

div, table {
  background: url(../../assets/img/bg.jpg) no-repeat;
  background-size: cover;  
  background-attachment: fixed;
}

* {  
  font-weight: 600;  
}

table { font-size: 16px; }

input {	
	width: 50px;	
	height: 22px;	  	
}


