<div>  
<h3>Меню компании</h3>
  
   <table class="table table-bordered text-center">
     <thead>        
        <th>Блюдо</th>
        <th>Цена</th>
        <th>Ед.изм.</th>
        <th *ngFor="let User of userQuantity; let i = index">
           <div> {{ User }} </div>
        </th>
        <th>Сумма</th>        
                             
     </thead>

     <tbody>
      
      <tr>        

       <td class="text-nowrap">                 
        <tr *ngFor="let dish of arrayDish"
            class="text-left">
            {{ dish }}           
        </tr>        
       </td>

       <td>                 
        <tr *ngFor="let price of arrayPrice" 
            class="d-flex justify-content-center">
            {{ price }}             
        </tr>        
       </td>

       <td>                 
        <tr *ngFor="let unit of arrayUnit; let i = index" 
            class="d-flex justify-content-center">
            {{ arrayWeight[i] }}
            {{ unit }}             
        </tr>        
       </td>

               
        <td *ngFor="let userMenu of userMenuArray; let i = index" class="px-0">         
          <tr *ngFor="let userM of userMenu; let j = index">
            <div class="container">              
              <div class="row">
                <div class="col-5">
                  <input [disabled]="disabled" type="number" [(ngModel)] = "userMenuArray[i][j]" (ngModelChange)="changeHandler(i,j)" />
                </div>
                <div class="col-1">
                    {{ arrayUnit[j] }}
                </div>
                <div class="col-4">                                 
                    <!-- {{ arrayPrice[j] * userMenuArray[i][j] }} -->
                    {{ arraySum[i][j] }}
                </div>    
              </div>
            </div>                
          </tr>
        </td>
        <td>
        </td>

      </tr>
      
      <tr>
        <td class="blue">Итого</td>
        <td></td>
        <td></td>
        <td *ngFor="let total of totalVal">                 
            <tr class="blue d-flex justify-content-center">
                {{ total }}            
            </tr>        
       </td>
       <td class="blue text-center"> {{ oderVal }} </td>
      </tr>              
      
      <tr class="bordernone"> <!-- навигация -->
        <td><button routerLink="/" class="btn btn-warning">Выйти</button></td>
        <td></td>
        <td></td>        
        <td class="">
          <button class="btn btn-warning d-flex mx-auto">Принять</button>
        </td>
        <td class="">
          <button class="btn btn-warning d-flex mx-auto">Принять</button>
        </td>
        <td class="">
          <button class="btn btn-warning d-flex mx-auto">Принять</button>
        </td>
        <td class="">
          <button class="btn btn-warning d-flex mx-auto">Принять</button>
        </td>     
      </tr>
     </tbody>
  </table>

</div>