<!-- <p>
  {{title}}
</p> -->

<div class="d-flex">
	<button (click)="singIn('Google')" class="btn btn-warning block w-100">
		<span class="fa fa-google"> Google</span>	
	</button>

	<button (click)="singInFacebook()" class="btn btn-warning block w-100">
		<span class="fa fa-facebook"> Facebook</span>	
	</button>
</div>

<br />
<br />

<!-- <button (click)="signOut();">Sign out</button><br /><br /> -->
 
<div *ngIf="user">
  <img src="{{ user.photoUrl }}">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>