@import "../app.component.scss";

div {
	background: url(./bg.jpg) no-repeat;
	background-size: cover;    
}

h2, h3 {
  text-align: center;
  color: #050;
}

th, td, tr { 
  padding: 0 2px; 
}

input {
  max-width: 40px;
  max-height: 23px;  
  /*outline: none;  */
  background: #ffc; 
}